.AllTasks{
    min-width: 80%;
    position: relative;
    border: 5px 5px 5px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 20%;
    min-height: 711px;
    background-image: linear-gradient(135deg, #ffe259 10%, #ffa751 100%);
}
.addtaskform{
    position: sticky;
    top: 0px;
    background-color: white;
}